@font-face {
  font-family: "Graphik Web";
  src: url("Graphik-Medium-Web.eot");
  src: url("Graphik-Medium-Web.eot?#iefix") format("embedded-opentype"),
    url("Graphik-Medium-Web.woff") format("woff"),
    url("Graphik-Medium-Web.ttf") format("truetype"),
    url("Graphik-Medium-Web.svg#Graphik-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Graphik Web";
  src: url("Graphik-Regular-Web.eot");
  src: url("Graphik-Regular-Web.eot?#iefix") format("embedded-opentype"),
    url("Graphik-Regular-Web.woff") format("woff"),
    url("Graphik-Regular-Web.ttf") format("truetype"),
    url("Graphik-Regular-Web.svg#Graphik-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Graphik Web", sans-serif;
  background: #181818;
  color: #fff;
}

/*header*/

.header {
  position: relative;
  padding-top: 30px;
  padding-bottom: 45px;
  min-width: 1440px;
  margin: 0 auto;
  &__menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 142px;

    &-logo {
      margin-right: 126px;
    }
    &-list {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      margin-right: 173px;
    }
    &-item {
      list-style: none;
      margin-right: 51px;
      &:last-child {
        margin-right: 0;
      }

      a {
        color: #fff;
        text-decoration: none;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
      }
    }
    &-login-btn {
      padding: 13px 46px;
      border: 1px solid #fff;

      background: none;
      color: #fff;
      font-family: "Graphik Web", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 17px;
      line-height: 25px;
      cursor: pointer;

      &:hover {
        background: #4452fe;
        border: 1px solid #4452fe;

        transition: 0.2s;
      }
    }
  }
  &__intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
    margin-bottom: 115px;
    &-title {
      width: 709px;
      font-family: "Graphik Web", sans-serif;
      font-weight: 600;
      font-size: 80px;
      line-height: 88px;
      margin-bottom: 27px;
    }
    &-subtitle {
      color: #e5e5e5;
      font-family: "Graphik Web", sans-serif;
      font-weight: 600;
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 71px;
      width: 602px;
    }
    &-buttons {
      button {
        padding: 20px 40px;
        margin-bottom: 60px;
        border: 1px solid #fff;

        background: none;
        color: #fff;
        font-family: "Graphik Web", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 16px;
        box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
        cursor: pointer;
        &:hover {
          background: #4452fe;
          border: 1px solid #4452fe;

          transition: 0.2s;
        }
        &:first-child {
          margin-right: 13px;
        }
      }
    }
  }
  .gradient {
    position: absolute;
    width: 100%;
    height: 551px;
    bottom: 0%;

    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(14, 14, 14, 1) 66%
    );
    margin-bottom: 162px;
  }
}

/*features*/

.features {
  &__inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 1440px;
    margin: 0 auto;

    &-title {
      font-weight: normal;
      font-size: 52px;
      line-height: 62px;
      margin-bottom: 27px;
    }
    &-subtitle {
      font-weight: normal;
      font-size: 20px;
      line-height: 30px;
      text-align: center;
      width: 602px;
      margin-bottom: 80px;
    }
    .features__intro {
      display: flex;
      flex-direction: row;
      align-items: center;
      img {
        margin-right: 27px;
        margin-bottom: 222px;
      }
      .features__list {
        &-item {
          list-style: none;
          width: 269px;
          padding: 20px;
          margin-bottom: 35px;
          &-title {
            display: flex;
            align-items: center;
            font-weight: 700;
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 10px;
            svg {
              width: 35px;
              height: 61px;
              margin-right: 10px;
            }
          }
          &-subtitle {
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
          }
        }
      }
    }
  }
}
/*contents*/

.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 1440px;
  margin: 0 auto;
  &-title {
    font-weight: normal;
    font-size: 52px;
    line-height: 62px;

    margin-bottom: 27px;
  }
  &-subtitle {
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    text-align: center;

    width: 571px;
    margin-bottom: 80px;
  }
  &__list {
    display: flex;
    .list__item {
      display: flex;
      align-items: center;
      flex-direction: column;
      list-style: none;

      padding: 40px 0;
      margin-bottom: 210px;
      width: 476px;

      background: #fff;
      border: 1px solid #d3d3d3;
      border-radius: 10px;
      box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
      &:first-child {
        margin-right: 33px;
        .list__item-text {
          margin-bottom: 67px;
        }
      }
      &-title {
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        color: #000;

        margin-bottom: 20px;
      }
      &-text {
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #5c5c5c;

        width: 268px;
        margin-bottom: 40px;
      }
      button {
        padding: 13px 46px;

        background: #4452fe;
        border: 1px solid #4452fe;
        box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
        color: #fff;

        font-family: "Graphik Web", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 17px;
        line-height: 25px;

        cursor: pointer;
        &:hover {
          background: #fff;
          border: 1px solid #4452fe;
          color: #4452fe;
          transition: 0.2s;
        }
      }
      &-btn-signup {
        margin-bottom: 60px;
      }
      &-btn-free {
        margin-bottom: 30px;
      }
    }
  }
}
/*gallery*/

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  &-title {
    font-weight: normal;
    font-size: 52px;
    line-height: 62px;

    margin-bottom: 27px;
  }
  &-subtitle {
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    text-align: center;

    width: 571px;
    margin-bottom: 80px;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 1090px;
    .gallery__item {
      list-style: none;
      margin-right: 33px;
      box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
      margin-bottom: 44px;
      &:nth-child(4),
      &:nth-child(7) {
        margin-right: 0;
      }
    }
    &-img {
      border-radius: 12px;
    }
  }
  &__btn {
    padding: 13px 40px;
    margin-bottom: 210px;

    background: none;
    border: 1px solid #fff;
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
    color: #fff;

    font-family: "Graphik Web", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 25px;

    cursor: pointer;
    &:hover {
      background: #4452fe;
      border: 1px solid #4452fe;

      transition: 0.2s;
    }
  }
}
/*partners*/
.partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &-title {
    font-weight: normal;
    font-size: 52px;
    line-height: 62px;

    margin-bottom: 20px;
  }
  &-subtitle {
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    text-align: center;

    width: 571px;
    margin-bottom: 60px;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    &-icon {
      margin-right: 74px;
      list-style: none;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &-btn {
    padding: 13px 40px;
    margin-bottom: 210px;

    background: none;
    border: 1px solid #fff;
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
    color: #fff;

    font-family: "Graphik Web", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 25px;

    cursor: pointer;
    &:hover {
      background: #4452fe;
      border: 1px solid #4452fe;

      transition: 0.2s;
    }
  }
}

/*testimonials*/

.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  &-title {
    font-weight: normal;
    font-size: 52px;
    line-height: 62px;

    margin-bottom: 60px;
  }
  &__list {
    column-count: 2;

    width: 890px;
    margin-bottom: 210px;
    .list__item {
      list-style: none;
      border: 1px solid #dedede;
      border-radius: 10px;

      font-size: 16px;
      line-height: 24px;

      width: 430px;
      padding: 40px;
      margin-right: 23px;
      margin-bottom: 20px;
      &:nth-child(2n) {
        margin-right: 0;
      }
      &-client {
        display: flex;
        align-items: center;
        margin-bottom: 31px;
        img {
          margin-right: 13px;
        }
        &-wrapper {
          font-weight: 600;
        }
      }
      &-text {
        width: 320px;
        font-weight: normal;
      }
    }
  }
}
/*trial*/

.trial {
  display: flex;
  justify-content: center;
  &__inner {
    display: flex;
    align-items: center;


    background: #343434;
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
    border-radius: 33px;
    max-width: 1220px;
  }
  &__container {
    margin: 78px 0 78px 94px;
    &-text {
      font-weight: normal;
      font-size: 52px;
      line-height: 62px;

      width: 479px;
      margin-bottom: 37px;
    }
    &-btn {
      padding: 13px 67px;

      background: none;
      border: 1px solid #fff;
      box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
      color: #fff;

      font-family: "Graphik Web", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 17px;
      line-height: 25px;

      cursor: pointer;
      &:hover {
        background: #4452fe;
        border: 1px solid #4452fe;

        transition: 0.2s;
      }
    }
  }
}
