*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}
/*header 
=============================*/
.welcome {
  background: url(../img/Gradient.jpg) center no-repeat;
  background-size: cover;

  margin-bottom: 135px;
}
/*header navigation
=============================*/
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  .logo {
    width: 186px;
    height: 58px;
    margin-right: 52px;
  }
  &__nav {
    display: flex;
    flex-direction: row;
    &-item {
      list-style: none;
      .nav__link {
        font-size: 15px;
        color: #fff;
        text-decoration: none;
        margin-right: 41px;
      }
    }
  }
  &__subscribe {
    margin-left: 54px;
    input {
      padding: 19px;
      margin-right: 12px;
      width: 273px;

      border: 0;
      border-radius: 39px;
      outline: none;
      background-color: #efefef;
      opacity: 0.12;
    }
    button {
      padding: 19px 38px;
      border-radius: 39px;
      border: 0;
      outline: none;
      color: #2091f9;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
    }
  }
}
/*header intro
=============================*/
.header__intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 150px;

  color: #fff;
  &-text {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 17px;
  }
  &-title {
    font-size: 55px;
    font-weight: 900;
    margin-bottom: 27px;
  }
  &-subtitle {
    font-size: 16px;
    font-weight: 700;

    width: 429px;
    margin-bottom: 90px;

    text-align: center;
  }
  &-btn {
    padding: 16px 58px;
    margin-bottom: 115px;

    border-radius: 39px;
    border: 0;
    outline: none;
    color: #2091f9;
    font-size: 16px;
    font-weight: 700;

    cursor: pointer;
  }
}

/*features
=============================*/

.features__intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 150px;

  &-text {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 17px;
  }
  &-title {
    font-size: 46px;
    font-weight: 400;
    margin-bottom: 27px;
  }
  &-subtitle {
    font-size: 16px;
    font-weight: 700;

    width: 298px;
    margin-bottom: 90px;

    text-align: center;
  }
}

.features__inner {
  display: flex;
  flex-direction: row;
  align-items: center;

  .features__list {
    &-item {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      list-style: none;
      width: 255px;
      &:first-child {
        margin-bottom: 85px;
      }
    }
    &-icon {
      width: 43px;
      height: 43px;
      margin-right: 10px;
    }
    &-title {
      font-weight: 700;
      font-size: 22px;
    }
    &-text {
      font-size: 18px;
      line-height: 27px;
      margin-top: 15px;
      color: #374754;
    }
  }
}
