*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/*header 
=============================*/
.welcome {
  background: url(../img/Gradient.jpg) center;
  background-size: 100% 100%;
  margin-bottom: 135px;
}

/*header navigation
  =============================*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 50px;
}

.header .logo {
  width: 186px;
  height: 58px;
  margin-right: 52px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header__nav-item {
  list-style: none;
}

.header__nav-item .nav__link {
  font-size: 15px;
  color: #fff;
  text-decoration: none;
  margin-right: 41px;
}

.header__subscribe {
  margin-left: 54px;
}

.header__subscribe input {
  padding: 19px;
  margin-right: 12px;
  width: 273px;
  border: 0;
  border-radius: 39px;
  outline: none;
  background-color: #efefef;
  background: rgba(255, 255, 255, 0.12);
}

.header__subscribe input::-webkit-input-placeholder {
  color: #18171d;
  opacity: 0.12;
}

.header__subscribe input:-ms-input-placeholder {
  color: #18171d;
  opacity: 0.12;
}

.header__subscribe input::-ms-input-placeholder {
  color: #18171d;
  opacity: 0.12;
}

.header__subscribe input::placeholder {
  color: #18171d;
  opacity: 0.12;
}

.header__subscribe button {
  padding: 19px 38px;
  border-radius: 39px;
  border: 1px solid #fff;
  outline: none;
  color: #2091f9;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.header__subscribe button:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

/*header intro
  =============================*/
.header__intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 150px;
  color: #fff;
}

.header__intro-text {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 17px;
}

.header__intro-title {
  font-size: 55px;
  font-weight: 900;
  margin-bottom: 27px;
}

.header__intro-subtitle {
  font-size: 16px;
  font-weight: 700;
  width: 429px;
  margin-bottom: 90px;
  text-align: center;
}

.header__intro-btn {
  padding: 16px 58px;
  margin-bottom: 115px;
  border-radius: 39px;
  border: 1px solid #fff;
  outline: none;
  color: #2091f9;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.header__intro-btn:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

/*features
=============================*/
.features__intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 150px 0;
}

.features__intro-text {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 17px;
  color: #252b42;
}

.features__intro-title {
  font-size: 46px;
  font-weight: 400;
  margin-bottom: 27px;
  color: #252b42;
}

.features__intro-subtitle {
  font-size: 16px;
  font-weight: 700;
  color: #252b42;
  width: 298px;
  text-align: center;
}

.features__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 153px;
}

.features__inner-img {
  margin-right: 95px;
  -webkit-box-shadow: 0px 9.85769px 19.7154px rgba(0, 0, 0, 0.16), 0px 9.85769px 131.436px rgba(0, 0, 0, 0.23);
          box-shadow: 0px 9.85769px 19.7154px rgba(0, 0, 0, 0.16), 0px 9.85769px 131.436px rgba(0, 0, 0, 0.23);
}

.features__inner .features__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  width: 255px;
}

.features__inner .features__list-item:first-child {
  margin-bottom: 85px;
}

.features__inner .features__list-icon {
  width: 43px;
  height: 43px;
  margin-right: 10px;
}

.features__inner .features__list-title {
  font-weight: 700;
  font-size: 22px;
}

.features__inner .features__list-text {
  font-size: 18px;
  line-height: 27px;
  margin-top: 15px;
  color: #374754;
}

/*buy__section
=============================*/
.buy__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(39.97deg, #00f3b9 0.79%, #2187ff 79.29%);
  color: #fff;
}

.buy__section-text {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 17px;
  padding-top: 100px;
}

.buy__section-title {
  font-size: 46px;
  font-weight: 400;
  margin-bottom: 27px;
}

.buy__section-subtitle {
  font-size: 16px;
  font-weight: 700;
  width: 298px;
  margin-bottom: 90px;
  text-align: center;
}

.buy__section-buttons {
  margin-bottom: 100px;
}

.buy__section-buttons .buy-btn {
  margin-right: 16px;
  padding: 19px 38px;
  border-radius: 39px;
  border: 0;
  outline: none;
  border: 1px solid #fff;
  color: #2091f9;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.buy__section-buttons .buy-btn:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.buy__section-buttons .free-btn {
  margin-right: 16px;
  padding: 19px 38px;
  border-radius: 39px;
  border: 0;
  outline: none;
  border: 1px solid #fff;
  color: #2091f9;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.buy__section-buttons .free-btn:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

/*newsletter
=============================*/
.newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 118px;
  margin-bottom: 200px;
}

.newsletter__img {
  margin-right: 113px;
}

.newsletter__inner-text {
  font-size: 22px;
  font-weight: 700;
  color: #252b42;
  margin-bottom: 17px;
}

.newsletter__inner-title {
  font-size: 46px;
  font-weight: 400;
  line-height: 57px;
  color: #252b42;
  width: 296px;
  margin-bottom: 27px;
}

.newsletter__inner-subtitle {
  font-size: 22px;
  font-weight: 700;
  line-height: 33px;
  color: #252b42;
  width: 298px;
}

.newsletter__inner-description {
  font-size: 18px;
  line-height: 27px;
  color: #374754;
  margin-bottom: 34px;
}

.newsletter__inner-form input {
  padding: 19px;
  margin-right: 12px;
  width: 273px;
  border: 0;
  border-radius: 39px;
  outline: none;
  background-color: #efefef;
  background: #f4f4f4;
}

.newsletter__inner-form button {
  padding: 19px 38px;
  border-radius: 39px;
  border: 1px solid #2091f9;
  outline: none;
  color: #fff;
  background-color: #2091f9;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.newsletter__inner-form button:hover {
  color: #2091f9;
  background: rgba(0, 0, 0, 0);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

/*partners
=============================*/
.partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 90px;
  margin-bottom: 191px;
}

.partners-title {
  font-size: 46px;
  font-weight: 400;
  line-height: 57px;
  color: #252b42;
  width: 296px;
  margin-bottom: 27px;
}

.partners-subtitle {
  font-size: 22px;
  font-weight: 700;
  line-height: 33px;
  color: #252b42;
  width: 400px;
  margin-bottom: 110px;
}

.partners__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 100px;
}

.partners__list-icon {
  margin-right: 62px;
  list-style: none;
}

.partners-btn {
  padding: 16px 58px;
  border-radius: 39px;
  border: 1px solid #2091f9;
  outline: none;
  color: #fff;
  background-color: #2091f9;
  font-size: 22px;
  font-weight: bold;
  line-height: 33px;
  cursor: pointer;
}

.partners-btn:hover {
  color: #2091f9;
  background: rgba(0, 0, 0, 0);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

/*testimonials 
=====================================*/
.testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 100px;
}

.testimonials-title {
  margin-bottom: 80px;
  font-size: 46px;
  font-weight: normal;
  line-height: 57px;
  color: #252b42;
}

.testimonials .more-btn {
  padding: 16px 47px;
  border-radius: 39px;
  border: 1px solid #2091f9;
  outline: none;
  color: #fff;
  background-color: #2091f9;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.testimonials .more-btn:hover {
  color: #2091f9;
  background: rgba(0, 0, 0, 0);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.testimonials__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1170px;
}

.testimonials__inner-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-right: 60px;
  margin-bottom: 104px;
  width: 335px;
  height: 542px;
  border: 1px solid #dedede;
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
}

.testimonials__inner-item:nth-child(3n + 3) {
  margin-right: 0;
}

.testimonials__inner-item--img {
  margin-bottom: 30px;
}

.testimonials__inner-item--text {
  font-size: 18px;
  line-height: 27px;
  color: #374754;
  width: 251px;
  margin-bottom: 42px;
}

.testimonials__inner-item--rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 30px;
}

.testimonials__inner-item--rating .rating {
  list-style: none;
  cursor: pointer;
}

.testimonials__inner-item--rating .rating svg {
  width: 29px;
  height: 29px;
}

.testimonials__inner-item--rating .active svg {
  background-image: url(../img/testimonials/fill-star.svg);
  width: 29px;
  height: 29px;
}

.testimonials__inner-item--person {
  font-size: 15px;
  line-height: 27px;
  color: #252b42;
  text-decoration: none;
}

.testimonials__inner-item--job {
  padding: 10px 0px 0px 10px;
}

.pricing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 100px 0;
  color: #fff;
  background: #252b42;
}

.pricing__description {
  margin-right: 284px;
}

.pricing__description-title {
  font-weight: 900;
  font-size: 55px;
  line-height: 65px;
  margin-bottom: 26px;
}

.pricing__description-text {
  font-size: 18px;
  line-height: 27px;
  font-weight: normal;
  width: 340px;
}

.pricing__trial-text {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 16px;
}

.pricing__trial-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.pricing__trial-title .cost {
  font-weight: 900;
  font-size: 55px;
  line-height: 65px;
  margin-right: 10px;
  margin-bottom: 19px;
}

.pricing__trial-subtitle {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  width: 218px;
  margin-bottom: 19px;
}

.pricing__trial .start-btn {
  padding: 18px 38px;
  border-radius: 39px;
  border: 1px solid #2091f9;
  outline: none;
  color: #fff;
  background-color: #2091f9;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  cursor: pointer;
}

.pricing__trial .start-btn:hover {
  color: #2091f9;
  background: rgba(0, 0, 0, 0);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.contact__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 100px;
}

.contact__inner-title {
  font-weight: normal;
  font-size: 46px;
  line-height: 57px;
  color: #252b42;
  margin-bottom: 27px;
}

.contact__inner-subtitle {
  font-size: 16px;
  line-height: 20px;
  color: #374754;
  width: 300px;
  margin-bottom: 74px;
}

.contact__inner-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contact__inner-links .contact-link {
  margin-right: 29px;
  margin-bottom: 69px;
  list-style: none;
}

.contact__inner-links .contact-link:last-child {
  margin-right: 0;
}

.contact__inner-links .contact-link svg {
  width: 40px;
  height: 40px;
}

.contact__inner-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 60px 0;
}

.contact__inner-contacts .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  width: 33.333%;
}

.contact__inner-contacts .contacts a {
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  color: #374754;
  text-decoration: none;
}

.contact__inner-contacts .contacts svg {
  margin-bottom: 15px;
  width: 25px;
  height: 25px;
}

.contact .contact__form {
  border: 1px solid #ddd;
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  padding: 52px 50px;
  margin: 0 auto;
  width: 868px;
  height: 670px;
}

.contact .contact__form-title {
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
  color: #252b42;
  margin-bottom: 45px;
}

.contact .contact__form input {
  padding: 19px;
  margin-bottom: 45px;
  width: 100%;
  border: 0;
  border-radius: 39px;
  outline: none;
  background-color: #efefef;
  background: #f4f4f4;
}

.contact .contact__form input::-webkit-input-placeholder {
  font-family: Roboto;
  font-size: 15px;
  line-height: 16px;
  color: #18171d63;
}

.contact .contact__form input:-ms-input-placeholder {
  font-family: Roboto;
  font-size: 15px;
  line-height: 16px;
  color: #18171d63;
}

.contact .contact__form input::-ms-input-placeholder {
  font-family: Roboto;
  font-size: 15px;
  line-height: 16px;
  color: #18171d63;
}

.contact .contact__form input::placeholder {
  font-family: Roboto;
  font-size: 15px;
  line-height: 16px;
  color: #18171d63;
}

.contact .contact__form-textarea {
  width: 100%;
  height: 193px;
  margin-bottom: 45px;
  resize: none;
  padding: 19px;
  border: 0;
  outline: none;
  background-color: #efefef;
  background: #f4f4f4;
}

.contact .contact__form-textarea::-webkit-input-placeholder {
  font-family: Roboto;
  font-size: 15px;
  line-height: 16px;
  color: #18171d63;
}

.contact .contact__form-textarea:-ms-input-placeholder {
  font-family: Roboto;
  font-size: 15px;
  line-height: 16px;
  color: #18171d63;
}

.contact .contact__form-textarea::-ms-input-placeholder {
  font-family: Roboto;
  font-size: 15px;
  line-height: 16px;
  color: #18171d63;
}

.contact .contact__form-textarea::placeholder {
  font-family: Roboto;
  font-size: 15px;
  line-height: 16px;
  color: #18171d63;
}

.contact .contact__form .send-btn {
  float: left;
  padding: 18px 54px;
  border-radius: 39px;
  border: 1px solid #2091f9;
  outline: none;
  color: #fff;
  background-color: #2091f9;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  cursor: pointer;
}

.contact .contact__form .send-btn:hover {
  color: #2091f9;
  background: rgba(0, 0, 0, 0);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
/*# sourceMappingURL=main.css.map */