*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}
@import "./scss/header.scss";
@import "./scss/features.scss";
@import "./scss/buy.scss";
@import "./scss/newsletter.scss";
@import "./scss/partners.scss";
@import "./scss/testimonials.scss";
@import "./scss/pricing.scss";
@import "./scss/contact.scss";
@import './scss/footer.scss';













