/*contact
==========================*/

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &__title {
    font-weight: normal;
    font-size: 46px;
    line-height: 57px;
    color: #252b42;
    margin-bottom: 27px;
  }
  &__subtitle {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #374754;
    width: 300px;

    margin-bottom: 69px;
  }
  &__link {
    display: flex;
    flex-direction: row;
    margin-bottom: 63px;
    &-item {
      margin-right: 23px;

      list-style: none;
      &:last-child {
        margin-right: 0;
      }
      svg {
        fill: #2091f9;
        width: 42px;
        height: 42px;
      }
    }
  }
  &__img {
    &-desktop {
      width: 100%;

      max-width: 871px;
      
      margin-bottom: 60px;
    }
    &-mobile {
      display: none;
    }
  }
  &__connection {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    margin-bottom: 58px;
    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      list-style: none;

      width: 33.333%;
      a {
        font-weight: bold;
        font-size: 12px;
        line-height: 18px;

        color: #374754;
        text-decoration: none;
      }
      svg {
        margin-bottom: 15px;
        width: 30px;
        height: 30px;
      }
    }
  }

  &__form {
    border: 1px solid #ddd;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    border-radius: 20px;

    padding: 52px 50px;
    margin: 0 20px 99px 20px;
    max-width: 868px;

    &-title {
      font-weight: bold;
      font-size: 22px;
      line-height: 33px;

      color: #252b42;
      margin-bottom: 45px;
    }
    input {
      padding: 19px 20px;
      margin-bottom: 45px;
      width: 100%;

      border: 1px solid #e8e8e8;
      border-radius: 39px;
      outline: none;
      background-color: #efefef;
      background: #f4f4f4;
      &::placeholder {
        font-family: Roboto;
        font-size: 15px;
        line-height: 16px;

        color: #18171d63;
      }
    }
    &-textarea {
      width: 100%;
      height: 193px;
      margin-bottom: 45px;
      resize: none;
      padding: 23px 20px;

      border: 1px solid #e8e8e8;

      outline: none;
      background-color: #efefef;
      background: #f4f4f4;
      &::placeholder {
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        line-height: 16px;

        color: #18171d63;
      }
    }
    .send-btn {
      float: left;
      padding: 18px 54px;
      border-radius: 35px;
      border: 1px solid #2091f9;
      outline: none;
      color: #fff;
      background-color: #2091f9;
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 16px;
      cursor: pointer;

      &:hover {
        color: #2091f9;

        background: rgba(0, 0, 0, 0);
        transition: 0.2s;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .contact {
    &__img {
      &-desktop {
        display: none;
      }
      &-mobile {
        display: block;
        width: 100%;

        max-width: 871px;
        padding: 0 30px;
        margin-bottom: 50px;
      }
    }
    &__connection {
      flex-direction: column;

      &-item {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        margin-bottom: 30px;
        &:last-child {
          margin-bottom: 30px;
        }
        a {
          text-align: left;
          max-width: 208px;
        }
        svg {
          margin-bottom: 0;
          margin-right: 20px;
        }
      }
    }
    &__form {
      margin-bottom: 149px;
    }
  }
}
