/*features
=============================*/

.features__intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    margin: 150px 0;

    &-text {
      font-size: 22px;
      font-weight: 700;
      margin-bottom: 17px;
      color: #252b42;
    }
    &-title {
      font-size: 46px;
      font-weight: 400;
      margin-bottom: 27px;
      color: #252b42;
    }
    &-subtitle {
      font-size: 16px;
      font-weight: 700;
      color: #252b42;
  
      width: 298px;

  
      text-align: center;
    }
  }
  
  .features__inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-bottom: 153px;
    &-img{
      margin-right: 95px;
      box-shadow: 0px 9.85769px 19.7154px rgba(0, 0, 0, 0.16), 0px 9.85769px 131.436px rgba(0, 0, 0, 0.23);
    }
    .features__list {
      &-item {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        list-style: none;
        width: 255px;
        &:first-child {
          margin-bottom: 85px;
        }
      }
      &-icon {
        width: 43px;
        height: 43px;
        margin-right: 10px;
      }
      &-title {
        font-weight: 700;
        font-size: 22px;
      }
      &-text {
        font-size: 18px;
        line-height: 27px;
        margin-top: 15px;
        color: #374754;
      }
    }
  }