/*newsletter
=============================*/

.newsletter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 190px;
    &__intro {
      display: none;
      text-align: center;
      &-subtitle {
        font-weight: bold;
        font-size: 22px;
        line-height: 33px;
        color: #252b42;
        margin-bottom: 17px;
      }
      &-title {
        font-weight: normal;
        font-size: 46px;
        line-height: 57px;
        color: #252b42;
        margin-bottom: 27px;
      }
      &-text {
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        color: #374754;
        margin-bottom: 85px;
        max-width: 318px;
      }
    }
    &-img {
      width: 100%;
      max-width: 854px;
      padding-right: 50px;
      padding-left: 119px;
    }
    &__inner {
      padding: 0 63px;
      &-subtitle {
        font-weight: bold;
        font-size: 22px;
        line-height: 33px;
        color: #252b42;
        margin-bottom: 17px;
      }
      &-title {
        font-weight: normal;
        font-size: 46px;
        line-height: 57px;
        color: #252b42;
        margin-bottom: 35px;
        max-width: 296px;
      }
    }
    &__subscribe {
      &-title {
        font-weight: bold;
        font-size: 22px;
        line-height: 33px;
        color: #252b42;
      }
      &-text {
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        color: #374754;
        margin-bottom: 34px;
      }
      &-form {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
      }
      &-input {
        padding: 19px 39px;
        background: #f4f4f4;
        border: 1px solid #e8e8e8;
        border-radius: 39px;
        outline: none;
        margin-right: 12px;
        margin-bottom: 12px;
      }
      &-btn {
        padding: 19px 38px;
        background: #2091f9;
        border: 1px solid #2091f9;
        border-radius: 35px;
        max-height: 54px;
  
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        color: #fff;
        &:hover {
          background: none;
          color: #2091f9;
          transition: 0.2s;
        }
      }
    }
  }
  @media screen and (max-width: 1265px) {
    .newsletter {
      flex-direction: column;
      &__intro {
        display: block;
      }
      &-img {
        padding: 0 23px;
        margin-bottom: 69px;
      }
      &__inner {
        text-align: center;
        padding: 0 22px;
        &-subtitle {
          display: none;
        }
        &-title {
          display: none;
        }
      }
    }
  }
  @media screen and (max-width: 550px) {
    .newsletter {
      &__inner {
        margin-bottom: 174px;
      }
      &__subscribe {
        &-input {
          width: 100%;
        }
        &-btn {
          width: 100%;
        }
      }
    }
  }
  