/*newsletter
=============================*/

.newsletter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 118px;
    margin-bottom: 110px;
    &__inner {
      &-text {
        font-size: 22px;
        font-weight: 700;
        color: #252b42;
        margin-bottom: 17px;
      }
      &-title {
        font-size: 46px;
        font-weight: 400;
        line-height: 57px;
        color: #252b42;
  
        width: 296px;
        margin-bottom: 27px;
      }
      &-subtitle {
        font-size: 22px;
        font-weight: 700;
        line-height: 33px;
        color: #252b42;
  
        width: 298px;
      }
      &-description {
        font-size: 18px;
        line-height: 27px;
        color: #374754;
        margin-bottom: 34px;
      }
      &-form {
        input {
          padding: 19px;
          margin-right: 12px;
          width: 273px;
  
          border: 0;
          border-radius: 39px;
          outline: none;
          background-color: #efefef;
          background: #f4f4f4;
        }
        button {
          padding: 19px 38px;
          border-radius: 39px;
          border: 1px solid #2091f9;
          outline: none;
          color: #fff;
          background-color: #2091f9;
          font-size: 16px;
          font-weight: 500;
          cursor: pointer;
          &:hover {
            color: #2091f9;
  
            background: rgba(0, 0, 0, 0);
            transition: 0.2s;
          }
        }
      }
    }
  }