/*partners
=============================*/

.partners {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 90px 0;
    
  
    &-title {
      font-size: 46px;
      font-weight: 400;
      line-height: 57px;
      color: #252b42;
  
      width: 296px;
      margin-bottom: 27px;
    }
    &-subtitle {
      font-size: 22px;
      font-weight: 700;
      line-height: 33px;
      color: #252b42;
  
      width: 400px;
      margin-bottom: 110px;
    }
    &__list {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 100px;
      &-icon {
        margin-right: 62px;
        list-style: none;
      }
    }
    &-btn{
      padding: 19px 38px;
      border-radius: 39px;
      border: 1px solid #2091f9;
      outline: none;
      color: #fff;
      background-color: #2091f9;
      font-size: 16px;
      font-weight: 700;
      cursor: pointer;
      &:hover {
        color: #2091f9;
  
        background: rgba(0, 0, 0, 0);
        transition: 0.2s;
      }
    }
  }
  