/*testimonials
=====================================*/
.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 100px;

  &-title {
    margin-bottom: 90px;
    font-size: 46px;
    font-weight: normal;
    line-height: 57px;
    color: #252b42;
  }
  .more-btn {
    padding: 16px 47px;
    border-radius: 35px;
    border: 1px solid #2091f9;
    outline: none;
    color: #fff;
    background-color: #2091f9;
    font-weight: bold;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: -0.4px;
    cursor: pointer;
    &:hover {
      color: #2091f9;

      background: rgba(0, 0, 0, 0);
      transition: 0.2s;
    }
  }
  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1185px;
    padding: 0 30px;
    &-mobile {
      display: none;
    }
    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 40px 42px;
      margin-right: 60px;
      margin-bottom: 102px;
      max-width: 335px;

      border: 1px solid #dedede;
      box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
      border-radius: 10px;
      list-style: none;
      &:nth-child(3n + 3) {
        margin-right: 0;
      }
      &:nth-child(n+4):nth-child(-n+6){
        margin-bottom: 80px;
      }
    }
    &-img {
      margin-bottom: 40px;
    }
    &-text {
      font-weight: normal;
      font-size: 18px;
      line-height: 27px;
      letter-spacing: 0.2px;
      color: #374754;
      margin-bottom: 40px;
    }
    &-rating {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-bottom: 25px;
      .rating {
        list-style: none;
        svg {
          width: 29px;
          height: 29px;
        }
      }
    }
    &-name {
      font-weight: normal;
      font-size: 15px;
      line-height: 27px;
      color: #252b42;
      margin-bottom: 10px;
    }
    &-position {
      font-weight: bold;
      font-size: 12px;
      line-height: 18px;
      color: #374754;
      margin-bottom: 10px;
    }
  }
}

@media screen and (max-width: 1230px) {
  .testimonials__list {
    max-width: 880px;
    &-item {
      &:nth-child(3n + 3) {
        display: none;
      }
      &:nth-child(2),
      &:nth-child(5) {
        margin-right: 0;
      }
    }
  }
}
@media screen and (max-width: 830px) {
  .desktop {
    display: none;
  }
  .testimonials__list-mobile {
    display: block;
  }
  .testimonials__list {
    &-item {
      &:nth-child(-n + 3) {
        display: flex;
        margin: 15px 34px;
        padding: 34px;
      }
    }
  }
}
