/*testimonials 
=====================================*/
.testimonials {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
    
    &-title {
      margin-bottom: 80px;
      font-size: 46px;
      font-weight: normal;
      line-height: 57px;
      color: #252b42;
      
    }
    .more-btn {
      padding: 16px 47px;
      border-radius: 39px;
      border: 1px solid #2091f9;
      outline: none;
      color: #fff;
      background-color: #2091f9;
      font-size: 16px;
      font-weight: 700;
      cursor: pointer;
      &:hover {
        color: #2091f9;
  
        background: rgba(0, 0, 0, 0);
        transition: 0.2s;
      }
    }
    &__inner {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 1170px;
  
      &-item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin-right: 60px;
        margin-bottom: 104px;
        width: 335px;
        height: 542px;
  
        border: 1px solid #dedede;
        box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
        border-radius: 10px;
        &:nth-child(3n + 3) {
          margin-right: 0;
        }
        &--img {
          margin-bottom: 30px;
        }
        &--text {
          font-size: 18px;
          line-height: 27px;
          color: #374754;
          width: 251px;
          margin-bottom: 42px;
        }
        &--rating {
          display: flex;
          flex-direction: row;
          margin-bottom: 30px;
          .rating {
            list-style: none;
            cursor: pointer;
            svg {
              width: 29px;
              height: 29px;
            }
          }
          .active {
            svg {
              background-image: url(../img/testimonials/fill-star.svg);
              width: 29px;
              height: 29px;
            }
          }
        }
        &--person {
          font-size: 15px;
          line-height: 27px;
          color: #252b42;
          text-decoration: none;
        }
        &--job {
          padding: 10px 0px 0px 10px;
        }
      }
    }
  }
  